/* Add CSS Styling */

.odd {
    background-color: rgb(224, 124, 191);
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

#two {
    color: rgb(0,0,255);
    font-size: 36px;
}

.adjust-font-size {
    font-size: 24px;
}

#four {
    background-color: rgb(119, 226, 119);
    font-weight: bold;
}